@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link href="style.css" rel="stylesheet" />
<main class="container-fluid">
    <div class="box header">
        <h1><span class="fa fa-user-circle-o"></span> <span id="page-title">File Handler in the Cloud</span></h1>
    </div>
    <div class="box content" id="app">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h2>Search files</h2>
                <input class="form-control form-control-lg" type="search"
                       placeholder="Start typing to filter files by name" v-model="search">
            </div>
            <div class="col-sm-6">
                <h2>Upload files</h2>
                <div v-if="!image">
                    <input class="form-control form-control-lg" type="file" v-on:change="onFileChange">
                </div>
                <div class="card" v-else v-cloak>
                    <figure>
                        <img class="preview" :src="image" />
                    </figure>
                    <div>
                        <button class="btn btn-primary" v-on:click="uploadFile">Upload file</button>
                        <button class="btn btn-danger" v-on:click="removeImage">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>File name</th>
                    <th>ID</th>
                    <th>Upload date</th>
                    <th>Owner</th>
                    <th>Tags</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr v-for="file in filteredFiles">
                    <td>{{file.fileName}}</td>
                    <td>{{file.fileUid}}</td>
                    <td>{{file.dateCreated}}</td>
                    <td>{{file.createdBy}}</td>
                    <td>{{file.tags}}</td>
                    <td><button v-b-modal.modal1 v-on:click="getFile(file.fileUid)" class="btn btn-primary">Show</button></td>
                </tr>
            </tbody>
        </table>
        <!-- Modal Component -->
        <b-modal id="modal1" :title="modalTitle" hide-footer="true" size="lg">
            <img :src="currentImg" alt="Picture" />
        </b-modal>
    </div>
</main>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="~/base64js.min.js"></script>
<script src="~/gallery.js"></script>
