@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="style.css" rel="stylesheet" />
<main class="container">
    <div class="box header">
        <h1><span class="fa fa-user-circle-o"></span> <span id="page-title">File Handler in the Cloud</span></h1>
    </div>
    <div class="box content" id="app">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h2>Search files</h2>
                <input class="form-control" type="search" placeholder="Start typing to filter files" />
            </div>
            <div class="col-sm-6">
                <h2>Upload files</h2>
                <form action="/api/images/upload"
                      class="dropzone needsclick dz-clickable"
                      id="image-upload"
                      method="post"
                      enctype="multipart/form">
                    <div class="dz-message needsclick">
                        <span class="note needsclick">
                            Drop files here or click to upload.
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>File name</th>
                    <th>ID</th>
                    <th>Upload date</th>
                    <th>Created by</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr v-for="file in files">
                    <td>{{file.fileName}}</td>
                    <td>{{file.fileUid}}</td>
                    <td>{{file.dateCreated}}</td>
                    <td>{{file.createdBy}}</td>
                </tr>
            </tbody>
        </table>

        <!--
        <h2>Generated Thumbnails</h2>
        <div id="stored-images"></div>
            <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>
        <div class="box footer">
            <hr>
            <div class="privacy">
                <p>
                    This app has no official privacy policy. Your data will be uploaded to a service in order produce a picture.
                    Your images will be public once you upload them and there is no automated way to remove them.
                </p>
            </div>
        </div>
        -->
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/blueimp-gallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="gallery.js"></script>
